 
.App-header {
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  box-sizing: border-box;
}

.App-link {
  color: rgb(112, 76, 182);
}
 
.App {
  text-align: center;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  padding:0;
  margin:0;
  font-size:16px;
   background-color:'black';
    color:'white'
}

.headerrow {
  background: black;
  color: white;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100px;
  justify-content: flex-start;
  align-items: center;
}


.header {
  background: black;
  color: white;
  font-size: 2em;
  padding-bottom:20px
}

.navbar {
  background: black;
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-self: flex-start;
  padding: 10px 0 10px 0;

}
 

.navbar ul {
  margin: 0;
  padding: 0;
}

.navbar li {
  display: inline;
  list-style: none; 
  padding-right:10px;
}
.flexContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items:flex-start;
}

.sidebar{
  background-color:'black';
  color:'white';
  border-radius:1px;
  text-align: left;
  padding:10px;
}

.sidebar ul{
  list-style:none;
  padding:10px
}
.sidebar li{
  padding:5px
}
.mainContent{
  box-sizing: border-box;
}

.chartContainer{
  width: 500px;
  height: 500px
}